@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components{} để thêm các class tái sử dụng */
/* @layer utilities{} thêm các class có style khác nhau */
/* @layer base{} thêm các thuộc tính trong các thẻ chung, vd: body,input... */

@layer base {
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    line-height: 1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
  }
  body,
  html {
    overflow-x: hidden;
  }
  input,
  button,
  textarea {
    outline: none;
  }
}
@layer components {
  .items-scroll::-webkit-scrollbar {
    width: 6px;
  }
  .items-scroll::-webkit-scrollbar-thumb {
    background: #7b61ff;
  }
  .darkmode-input:checked + div {
    background-color: white;
  }
  .darkmode-input:checked + div .darkmode-spinner {
    color: white;
    transform: translateX(60px);
    background-color: #111111;
  }
  .darkmode-input:checked + div .darkmode-spinner .btn-sunny {
    display: none;
  }
  .darkmode-input:checked + div .darkmode-spinner .btn-moon {
    display: block;
  }
}
